<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Freight4u</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Freight4u</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false />
		<key>NSCalendarsUsageDescription</key>
		<string>We use this to show notifications</string>
		<key>NSRemindersUsageDescription</key>
		<string>We use this to show reminders</string>
		<key>NSUserNotificationAlertStyle</key>
		<string>alert</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>http</string>
			<string>https</string>
		</array>

		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs access to location.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs access to location at all times.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app uses your location.</string>

		<key>UIFileSharingEnabled</key>
		<true />
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true />

		<key>NSCameraUsageDescription</key>
		<string>Camera access is required</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Microphone access is required</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Photo access is required</string>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>NSUserTrackingUsageDescription</key>
		<string>We will collect Email, User ID, Device ID for maange account and validation purpose.</string>


	</dict>
</plist>